.button, button, .swal-button, .swal-button--confirm {
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1.2px;
    line-height: 20px;
    text-transform: uppercase;
    background: #000;
    display: inline-block;
    padding: 16px;
    text-decoration: none;
    transition: transform 0.15s;
    border-radius: 0;
    outline: none;
    @include FontSourceSans;
    
    &:hover, &:not([disabled]):hover {
        transform: translateY(-3px);
        background: #000;
    }
    
    &:focus {
        outline: none;
        box-shadow: none;
    }
}