@{
    var request = Context.Request;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    @if (request.QueryString.ToString().Contains("horse_build"))
    {
        <link rel="stylesheet" href="/css/styles.css" asp-append-version="true" />   
    }

    @RenderSection("TopScripts", required: false)
    
    <meta property="og:title" content="Method Conference - March 5th, 2020 in Springfield, MO">
    <meta property="og:description" content="Method Conference Springfield, MO is an emersive one-day conference with 6 sessions, workshops and keynote with an intense focus on digital development, design, UX, content, code, and more. Giving you perspective to access your skillset and see where things are going next.">
    <meta property="og:image" content="https://quipvid.com/images/quipvid.jpg">
    <meta property="og:site_name" content="Method Conference">

    
</head>
<body>

@RenderBody()

<script src="~/js/plugins.js" asp-append-version="true"></script>
<script src="~/js/main.js" asp-append-version="true"></script>

<environment include="Development">
    @if (!request.QueryString.ToString().Contains("horse_build"))
    {
        <script src="~/horse.js"></script>   
    }
</environment>

@RenderSection("Scripts", required: false)

</body>
</html>
